<!-- <div class="container mt-4"> -->
<!-- Header inicial, info del usuario -->
 <div class="row">
		<div class="col-12 text-start grid-margin">
			<div class="card ">
				<div class="card-body">
					<div class="row">
						<div class="col-12">
							<nav aria-label="breadcrumb" class="">
								<ol class="breadcrumb mb-0">
									<li class="breadcrumb-item"><a [routerLink]="['/dashboard', 'analytics']">Home</a></li>
									<li class="breadcrumb-item active" aria-current="page">Admin Users</li>
								</ol>
							</nav>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-12">
			<div *ngIf="isLoading" class="text-center ">
				<div class="spinner-border text-primary" role="status">
					<span class="visually-hidden">Cargando...</span>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="col-12 grid-margin">
			<div class="card">
				<div class="card-body">
					<div class="row form-group">
						<!-- Campo de búsqueda -->
						<label for="search-term" class="form-label">Buscador de usuarios</label>
						<input id="search-term" class="form-control" type="text" [(ngModel)]="searchTerm" (input)="filterUsers()" placeholder="Ingresa aqui nombre de usuario" />
					</div>
				</div>
			</div>
		</div>
	</div>

	<div class="row">
		<div class="co-12 grid-margin">
			<div class="card">
				<div class="card-body">
					<!-- Tabla de usuarios -->
					<table class="table table-light table-hover align-middle mb-0">
						<thead>
							<tr>
								<th>#</th>
								<th>Nombre</th>
								<th>Email</th>
								<th>Status</th>
								<th>Rol</th>
								<th>Acciones</th>
							</tr>
						</thead>
						<tbody>
							<tr *ngFor="let user of filteredUsers; let i = index">
								<td>{{ user.uid.slice(-6).toUpperCase() }}</td>
								<td>{{ user.name }} {{ user.last_name }}</td>
								<td>{{ user.email }}</td>
					
								<!-- Status -->
								<td>
									<span class="badge" [ngClass]="user.activo ? 'bg-success' : 'bg-danger'">
										{{ user.activo ? 'Habilitado' : 'Deshabilitado' }}
									</span>
								</td>
					
								<!-- Rol -->
								<td>
									<span class="badge"
										[ngClass]="{'bg-success': user.rol === 'Administrador','bg-warning text-dark': user.rol === 'Ejecutivo','bg-danger': !user.rol || user.rol === ''}">
										{{ user.rol || 'Sin rol' }}
									</span>
								</td>
					
								<!-- Acciones -->
								<td class="d-flex gap-2">
									<button class="btn btn-full --{{ user.activo ? 'danger' : 'success' }} btn-sm"
										(click)="toggleUser(user.uid, !user.activo)">
										{{ user.activo ? 'Deshabilitar' : 'Habilitar' }}
									</button> 
									<a class="btn btn-full --primary btn-sm" [routerLink]="['/dashboard/admin-users/edit-role', user.uid]">
										Editar Rol
									</a>

									<button class="btn btn-full --info btn-sm"
										(click)="editUser(user.uid, !user.activo)">
										 Editar perfil
									</button>
								</td>
							</tr>
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>