<div class="row">
	<div class="col-12 text-start grid-margin">
		<div class="card ">
			<div class="card-body">
				<div class="row">
					<div class="col-12">
						<nav aria-label="breadcrumb" class="">
							<ol class="breadcrumb mb-0">
								<li class="breadcrumb-item"><a [routerLink]="['/dashboard']">Home</a></li>
								<li class="breadcrumb-item active" aria-current="page">Mis reclamos</li>
							</ol>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="col-12 grid-margin"> 
		<div *ngIf="isLoading" class="d-flex justify-content-center align-items-center" style="height: 200px;">
			<div class="spinner-border" role="status">
				<span class="visually-hidden">Loading...</span>
			</div>
		</div>
		<div *ngIf="!isLoading && userData">
			<div class="card">
				<div class="card-body">
					<div class="d-flex align-items-center mb-4 mb-lg-0 py-4">
						<div class="position-relative d-inline-block">
							<img [src]="userData.photoURL || imageDefault "
								class="border border-5 border-primary rounded-circle profile-pic border-opacity-25 object-fit-cover"
								alt="Profile Picture" width="100" height="100" />
						</div>
						<div class="ms-3 text-start">
							<h2 class="m-0 p-0">Hola, {{ userData.name || 'Invitado' }}</h2>
							<h6 class="m-0 p-0">Bienvenido a tu aplicación</h6>
							<p class="m-0 p-0 text-muted">Este es tu panel de control, aquí puedes administrar tus tareas, ver
								estadísticas y más.</p>
							<p class="m-0 p-0 text-muted"><span class="badge badge-type badge-outline-info">{{ userData.rol ||
									'Desconocido' }}</span></p>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div> 

 

<!-- Métricas del administrador -->
<div class="row grid-margin">
	<div class="col-md-6 col-xl-3 my-3" *ngFor="let card of metrics">
		<app-card-metric [icon]="card.icon" [count]="card.count" [label]="card.label" [color]="card.color"
			[footerText]="card.footerText" [trendIcon]="card.trendIcon">
		</app-card-metric>
	</div>
</div>

<div class="row">
	<div class="col-12 grid-margin">
		<div class="card">
			<div class="card-body">
				<div *ngIf="isLoading" class="d-flex justify-content-center align-items-center" style="height: 200px;">
					<div class="spinner-border" role="status">
						<span class="visually-hidden">Cargando...</span>
					</div>
				</div>

				<div *ngIf="errorMessage" class="col-12 mt-3">
					<div class="alert alert-danger text-center" role="alert">
						{{ errorMessage }}
					</div>
				</div>

				<div *ngIf="!isLoading && !errorMessage" class="row">
					<div class="col-6 ">
						<h2 class="h3 m-0">Administración de Reclamaciones</h2>
						<p class="mb-0">Aquí puedes gestionar todas las reclamaciones de los usuarios.</p>
					</div>
					<div class="col-6 d-flex justify-content-end align-items-center">
						<button class="btn btn-full --primary m-1 btn-sm" (click)="openNewModal()">
							<i class="bi bi-plus-circle me-1"></i> Nuevo Reclamo
						</button>
						<button class="btn btn-full --danger m-1 btn-sm" [disabled]="!showDeleteButton"
							(click)="deleteSelectedClaims()">
							<i class="bi bi-trash me-1"></i> Eliminar Seleccionados
						</button>
					</div>

					<div class="col-12 py-3 ">
						<div class="row g-3 align-items-center">
							<div class="col-md-3">
								<label for="searchTerm" class="form-label visually-hidden">Buscar por Nombre</label>
								<input type="text" id="searchTerm" class="form-control" placeholder="Buscar por nombre..."
									[(ngModel)]="searchTerm" (input)="applyFilters()">
							</div>
							<div class="col-md-3">
								<label for="filterStatus" class="form-label visually-hidden">Filtrar por Estado</label>
								<select id="filterStatus" class="form-select" [(ngModel)]="filterStatus" (change)="applyFilters()">
									<option value="Todos">Todos los Estados</option>
									<option value="Iniciado">Iniciado</option>
									<option value="Pendiente">Pendiente</option>
									<option value="Cancelado">Cancelado</option>
									<option value="Cerrado">Cerrado</option>
								</select>
							</div>
							<div class="col-md-3">
								<label for="selectedExecutive" class="form-label visually-hidden">Filtrar por Ejecutivo</label>
								<select class="form-select" id="selectedExecutive" [(ngModel)]="selectedExecutiveUid"
									(change)="applyFilters()">
									<option value="">Todos los Ejecutivos</option>
									<option *ngFor="let ejecutivo of executives" [value]="ejecutivo.uid">
										{{ ejecutivo.name }} {{ ejecutivo.last_name }}
									</option>
								</select>
							</div>
							<div class="col-md-3">
								<button class="btn btn-full --primary m-1 w-100" (click)="resetData()">
									<i class="bi bi-arrow-counterclockwise me-1"></i> Limpiar
								</button>
							</div>
						</div>
					</div>
					<div class="col-12 mt-3">
						<div class="table-responsive">
							<table class="table table-light table-hover align-middle">
								<thead>
									<tr>
										<th>
											<input type="checkbox" [checked]="masterChecked" (change)="toggleMasterCheckbox()"
												class="form-check-input" />
										</th>
										<th>Nombre</th>
										<th>Tipo</th>
										<th>Fecha</th>
										<th>Estado</th>
										<th>Ejecutivo Asignado</th>
										<th>Acciones</th>
									</tr>
								</thead>
								<tbody>
									<tr *ngIf="pagedClaims.length === 0">
										<td colspan="7" class="text-center text-muted py-4">No se encontraron reclamos con los filtros
											aplicados.</td>
									</tr>
									<tr *ngFor="let claim of pagedClaims">
										<td>
											<input type="checkbox" [checked]="claim.selected" (change)="toggleClaimSelection(claim)"
												class="form-check-input" />
										</td>
										<td>{{ claim.nombre }}</td>
										<td>{{ claim.tipo }}</td>
										<td>{{ claim.fecha | date:'shortDate' }}</td>
										<td>
											<span class="badge" [ngClass]="{
												'bg-primary': claim.estado === 'Iniciado',
												'bg-warning text-dark': claim.estado === 'Pendiente',
												'bg-danger': claim.estado === 'Cancelado',
												'bg-success': claim.estado === 'Cerrado'
											}">
												{{ claim.estado }}
											</span>
										</td>
										<td>
											{{ getExecutiveName(claim.uidEjecutivo) }}
										</td>
										<td>											
											<button class="btn btn-full --info m-1 btn-sm" (click)="openViewEditModal(claim, true)">
												<i class="bi bi-eye-fill"></i> Ver/Editar
											</button>
											<!-- <button class="btn btn-sm btn-info me-1" (click)="viewClaim(claim)">
																							<i class="bi bi-eye"></i>
																						</button> -->
											<!-- <button class="btn btn-sm btn-warning" (click)="editClaim(claim)">
																							<i class="bi bi-pencil"></i>
																						</button> -->
											<!-- <button class="btn btn-danger btn-sm" (click)="deleteClaim(claim.id!)">
												<i class="bi bi-trash"></i>
											</button> -->
										</td>
									</tr>
								</tbody>
							</table>
						</div>
					</div>
					<div class="co-sm-12 col-md-6 py-3 d-flex justify-content-start align-items-center">
						<p class="mb-0">Elementos por página:
							<select (change)="onItemsPerPageChange($event)" [ngModel]="itemsPerPage"
								class="form-select form-select-sm d-inline-block w-auto ms-2">
								<option [value]="10">10</option>
								<option [value]="25">25</option>
								<option [value]="50">50</option>
								<option [value]="100">100</option>
							</select>
						</p>
						<span class="mx-2">
							Página {{ currentPage }} de {{ getTotalPages() }}
						</span>
					</div>
					<div class="co-sm-12 col-md-6 py-3 d-flex justify-content-end align-items-center">
						<nav aria-label="Page navigation">
							<ul class="pagination mb-0">
								<li class="page-item" [class.disabled]="currentPage === 1">
									<a class="page-link" (click)="onPageChange(currentPage - 1)">Anterior</a>
								</li>
								<li class="page-item" *ngFor="let page of getPagesArray()" [class.active]="page === currentPage">
									<a class="page-link" (click)="onPageChange(page)">{{ page }}</a>
								</li>
								<li class="page-item" [class.disabled]="currentPage === getTotalPages()">
									<a class="page-link" (click)="onPageChange(currentPage + 1)">Siguiente</a>
								</li>
							</ul>
						</nav>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
 

<!-- Modal para nuevo reclamo -->
<!-- <div class="modal fade show d-block" *ngIf="showModal" style="background-color: rgba(0,0,0,0.4); z-index: 1050;">
	<div class="modal-dialog modal-lg modal-dialog-centered">
		<div class="modal-content rounded shadow-lg">
			<div class="modal-header">
				<h5 class="modal-title">Agregar Nuevo Reclamo</h5>
				<button type="button" class="btn-close" aria-label="Close" (click)="cancelEdit()"></button>
			</div>
			<div class="modal-body">
				<form class="row g-3" *ngIf="newClaim">
					<div class="col-md-6">
						<label class="form-label">Nombre del Cliente</label>
						<input [(ngModel)]="newClaim.nombre" name="nombre" class="form-control" required />
					</div>
					<div class="col-md-6">
						<label class="form-label">Tipo de Reclamo</label>
						<input [(ngModel)]="newClaim.tipo" name="tipo" class="form-control" />
					</div>
					<div class="col-md-6">
						<label class="form-label">Foto (URL)</label>
						<input [(ngModel)]="newClaim.foto" name="foto" class="form-control" />
					</div>
					<div class="col-md-3">
						<label class="form-label">Casos Totales</label>
						<input type="number" [(ngModel)]="newClaim.total" name="total" class="form-control" />
					</div>
					<div class="col-md-3">
						<label class="form-label">Fecha</label>
						<input type="date" [(ngModel)]="newClaim.fecha" name="fecha" class="form-control" />
					</div>
					<div class="col-md-6">
						<label class="form-label">Estado</label>
						<select class="form-select" [(ngModel)]="newClaim.estado" name="estado">
							<option value="Pendiente">Pendiente</option>
							<option value="Cancelado">Cancelado</option>
							<option value="Cerrado">Cerrado</option>
						</select>
					</div>
				</form>
			</div>
			<div class="modal-footer">
				<button type="button" class="btn btn-secondary" (click)="closeNewModal()">Cancelar</button>
				<button class="btn btn-primary" (click)="saveNewClaim()">Guardar Reclamo</button>
			</div>
		</div>
	</div>
</div> -->

<!-- Modal de edición --> 
<div class="modal fade show d-block" *ngIf="showModal" style="background-color: rgba(0,0,0,0.4); z-index: 1050;">
	<div class="modal-dialog modal-lg modal-dialog-centered" role="document">
		<div class="modal-content">
			<div class="modal-header">
				<h5 class="modal-title">
					{{ isEditing ? 'Editar Reclamo' : 'Ver Reclamo' }}
					<span class="badge bg-secondary ms-2" *ngIf="selectedClaim?.id">{{ selectedClaim?.id }}</span>
				</h5>
				<button type="button" class="btn-close" aria-label="Close" (click)="cancelEdit()"></button>
			</div>
			<div class="modal-body">
				<form class="row g-3" *ngIf="selectedClaim">
					<!-- <div class="col-md-6">
						<label class="form-label">ID Reclamo</label>
						<input type="text" [value]="selectedClaim.id" class="form-control" disabled />
					</div> -->
					<div class="col-md-6">
						<label class="form-label">Nombre</label>
						<input [(ngModel)]="selectedClaim.nombre" name="selectedNombre" class="form-control" [disabled]="isViewOnly"
							required />
					</div>
					<div class="col-md-6">
						<label class="form-label">Asunto</label>
						<input [(ngModel)]="selectedClaim.tipo" name="selectedTipo" class="form-control" [disabled]="isViewOnly" />
					</div>
					
					<div class="col-md-6">
						<label class="form-label">Estado</label>
						<select [(ngModel)]="selectedClaim.estado" name="selectedEstado" class="form-select" [disabled]="isViewOnly">
							<option value="Iniciado">Iniciado</option>
							<option value="Pendiente">Pendiente</option>
							<option value="Cancelado">Cancelado</option>
							<option value="Cerrado">Cerrado</option>
						</select>
					</div>
					<div class="col-md-6">
						<label class="form-label">Fecha</label>
						<input [(ngModel)]="selectedClaim.fecha" name="selectedFecha" type="date" class="form-control"
							[disabled]="isViewOnly" />
					</div>
					<div class="col-md-6">
						<label class="form-label">Ejecutivo Asignado</label>
						<select class="form-select" [(ngModel)]="selectedClaim.uidEjecutivo" name="selectedEjecutivo" [disabled]="isViewOnly">
							<option *ngFor="let ejecutivo of executives" [value]="ejecutivo.uid">
								{{ ejecutivo.name + ' ' + ejecutivo.last_name }} - {{ ejecutivo.email }}
							</option>
						</select>
					</div>
					<div class="col-12">
						<label class="form-label">Descripción</label>
						<textarea [(ngModel)]="selectedClaim.detail" name="selectedDetail" class="form-control" rows="3"
							[disabled]="isViewOnly"></textarea>
					</div>
					 
				</form>
				<div *ngIf="!selectedClaim" class="alert alert-warning">
					No se ha cargado ningún reclamo para ver/editar.
				</div>
			</div>
			<div class="modal-footer">
				<!-- <button type="button" class="btn btn-secondary" (click)="toggleEditMode()">
					<i class="bi" [ngClass]="isViewOnly ? 'bi-pencil' : 'bi-eye'"></i>
					{{ isViewOnly ? 'Editar' : 'Solo Lectura' }}
				</button>
				<button type="button" class="btn btn-primary" [disabled]="isViewOnly" (click)="saveEditedClaim()">
					Guardar Cambios
				</button>
				<button type="button" class="btn btn-danger" (click)="cancelEdit()">Cerrar</button> -->
				<button type="button" class="btn btn-full --danger m-1" (click)="cancelEdit()">Cerrar</button>
				
				<button type="button" class="btn btn-full --primary m-1" (click)="enableEdit()" *ngIf="!isEditing">
					<i class="bi bi-pencil-square me-1"></i> Habilitar Edición
				</button>
				
				<button type="button" class="btn btn-full --success m-1" (click)="saveChanges()" [disabled]="!isEditing"
					*ngIf="isEditing">
					<i class="bi bi-save me-1"></i> Guardar Cambios
				</button>
			</div>
		</div>
	</div>
</div>

<!-- button showNewModal() Modal crt -->
<div class="modal fade show d-block" *ngIf="showNewModal" style="background-color: rgba(0,0,0,0.4); z-index: 1050;">
  <div class="modal-dialog modal-lg modal-dialog-centered">
    <div class="modal-content rounded shadow-lg">
      <div class="modal-header">
        <h5 class="modal-title">Nuevo Reclamo</h5>
				<button type="button" class="btn-close" aria-label="Close" (click)="cancelNewClaim()"></button>
      </div>
      <div class="modal-body">
        <form class="row g-3">
          <div class="col-md-6">
            <label class="form-label">Nombre</label>
            <input [(ngModel)]="newClaim.nombre" name="newNombre" class="form-control" required />
          </div>
          <div class="col-md-6">
            <label class="form-label">Asunto</label>
            <input [(ngModel)]="newClaim.tipo" name="newTipo" class="form-control" />
          </div>

          <div class="col-12">
            <label class="form-label">Descripción</label>
            <textarea [(ngModel)]="newClaim.detail" name="newDetail" class="form-control" rows="3"></textarea>
          </div>

          <div class="col-md-6">
            <label class="form-label">Fecha</label>
            <input [(ngModel)]="newClaim.fecha" name="newFecha" type="date" class="form-control" />
          </div>

					<!-- 👤 Selector de ejecutivo -->
					<div class="col-md-12">
						<label class="form-label">Asignar a Ejecutivo</label>
						<select class="form-select" [(ngModel)]="selectedExecutiveUid" name="ejecutivo" required>
							<option [ngValue]="''" disabled selected>Selecciona un ejecutivo</option>
							<option *ngFor="let ejecutivo of executives" [value]="ejecutivo.uid">
								{{ ejecutivo.name + ' ' + ejecutivo.last_name }} - {{ ejecutivo.email }}
							</option>
							</select>
					</div>
        </form>
      </div>
      <div class="modal-footer">
        <button class="btn btn-full --primary m-1" (click)="showNewModal = false">Cancelar</button>
        <button class="btn btn-full --success m-1" (click)="saveNewClaim()">Crear Reclamo</button>
      </div>
    </div>
  </div>
</div>
