@mixin size-btn($py:.5rem, $px:1.6rem) {
  padding: $py $px;
  line-height: normal;
}

@mixin transicionBtn() {
  transition: all .2s ease-in-out;
}

@mixin border_help($color) {
  border-width: 1px;
  border-style: dashed;
  border-color: $color;
}


@mixin roboto($fsize: 1rem, $fweight:400, $fcolor:#000) {
  font-family: 'Roboto', Arial, Helvetica, sans-serif;
  color: $fcolor;
  font-size: $fsize;
  font-weight: $fweight;
}

@mixin geist($fsize: 1rem, $fweight:400, $fcolor:#000) {
  font-family: "Geist", "Segoe UI", Poppins, system-ui, -apple-system, Roboto, Helvetica Neue, Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: $fsize;
  font-weight: $fweight;
  color: $fcolor;
}

@mixin nunito($fsize: 1rem, $fweight:400, $fcolor:#000) {
  font-family: "Nunito Sans", "Segoe UI", Poppins, system-ui, -apple-system, Roboto, Helvetica Neue, Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
  font-size: $fsize;
  font-weight: $fweight;
  color: $fcolor;
}