.logo-login {
  width: 100px;
  height: auto;
  display: inline-block;
}

.bd-placeholder-img {
  font-size: 1.125rem;
  text-anchor: middle;
  -webkit-user-select: none;
  -moz-user-select: none;
  user-select: none
}

.divider {

  &:after,
  &:before {
    content: "";
    flex: 1;
    height: 1px;
    background: #eee;
  }
}