@use '../abstracts'as *;
@use 'sass:color';

.badge {
  font-family: $font-base, sans-serif;
  font-weight: 500;
  font-size: 0.625rem;
  line-height: 1;
  padding: 0.276rem .512rem;
  border-radius: 0.75rem;
  text-transform: uppercase;
  letter-spacing: 0.02em;
  display: inline-block;
  white-space: nowrap;
  vertical-align: middle;
  transition: all 0.2s ease;

  &.badge-pill {
    border-radius: 10rem;
  }
}

@each $type,
$pair in $badge-color-map {
  $bg-color: nth($pair, 1);
  $text-color: nth($pair, 2);
  $hover-color: mix($bg-color, #fff, 80%);
  $border-color: $bg-color;

  // 🎨 Badge con fondo sólido
  .badge-full-#{$type} {
    @extend .badge;
    background-color: $bg-color;
    color: $text-color;
  }

  // 🪶 Badge con borde (outline)
  .badge-outline-#{$type} {
    @extend .badge;
    background-color: transparent;
    color: $bg-color;
    border: 1px solid $border-color;

    &:hover {
      background-color: $hover-color;
      color: $text-color;
    }
  }

  // 🌑 Dark mode
  body.dark-mode {
    .badge-gsa-#{$type} {
      background-color: lighten($bg-color, 20%);
      color: lighten($text-color, 30%);
    }

    .badge-outline-#{$type} {
      color: lighten($bg-color, 15%);
      border-color: lighten($bg-color, 15%);
      background-color: transparent;

      &:hover {
        background-color: mix($bg-color, #000, 40%);
        color: $text-color;
      }
    }
  }
}