<div class="row border-2">
	<div class="col-12 mb-3">
		<div class="card">
			<div class="card-body">
				<h1 class="mb-3"><i class="bi bi-people-fill"></i> Administración de Roles</h1>
				<p>Desde esta sección podrás buscar a los usuarios y gestionar sus accesos.</p>
				<nav aria-label="breadcrumb" class="bg-body-tertiary rounded-3 p-3 mb-4">
					<ol class="breadcrumb mb-0">
						<li class="breadcrumb-item"><a [routerLink]="['/dashboard', 'analytics']">Home</a></li>
						<li class="breadcrumb-item"><a [routerLink]="['/dashboard', 'admin-users']">Management users</a></li>
						<li class="breadcrumb-item"><a [routerLink]="['/dashboard', 'edit-role', userData.uid]">Edit Role</a></li>
					</ol>
				</nav>
			</div>
		</div>
	</div>
</div>

<div class="card p-4">
	<h4 class="mb-1">Editar Rol del Usuario </h4>
	<form [formGroup]="roleForm" (ngSubmit)="onSubmit()">
		<div class="row">
			<div class="col-12 mb-3">
				<span class="badge text-bg-primary">uid: {{ userData.uid }}</span>
			</div>
			<div class="col-sm-12 col-md-6">
				<div class="mb-3">
					<label class="form-label">Email:</label>
					<input class="form-control" [value]="userData.email" disabled />
				</div>
			</div>
			<div class="col-sm-12 col-md-6">
				<div class="mb-3">
					<label class="form-label">Nombre:</label>
					<input class="form-control" [value]="userData.name + ' ' + userData.last_name" disabled />
				</div>
			</div>
		</div>
		

		<div class="col-sm-12 col-md-6 mb-4">
			<label class="form-label">Selecciona el Rol:</label>
			<select class="form-select" formControlName="rol">
				<option value="Administrador">Administrador</option>
				<option value="Ejecutivo">Ejecutivo</option>
			</select>
		</div>

		<div class="col-12">
			<div class="wrapp-btn text-end">
				<button type="submit" class="btn btn-primary" [disabled]="roleForm.invalid">
					Guardar Cambios
					</button>
			</div>
		</div>

		
	</form>
</div>