@use '../abstracts'as *;
@use 'sass:color';
@use 'sass:list';

/*
* @Buttons             
**/

@each $type,
$pair in $btn-color-map {
  $bg-color: list.nth($pair, 1); // Color de fondo del bot贸n
  $text-color: list.nth($pair, 2); // Color del texto
  $darker-color: color.adjust($bg-color, $lightness: -15%);
  $lighter-color: color.adjust($bg-color, $lightness: 20%);

  //  Bot贸n con fondo completo
  .btn-full {
    padding: $padding;
    border-radius: $b-radius !important;
    border-width: 2px;
    font-family: $font-buttons, sans-serif;
    font-size: $font-size;
    font-weight: $font-weight;
    transition: all 0.2s ease-in-out;
    line-height: 2;
    width: $btn-width;

    @media (max-width: 640px) {
      display: block;
      margin: 1.25rem auto;
      width: 100%;
    }

    &.--#{$type} {
      background-color: $bg-color;
      color: $text-color;
      border-color: $bg-color;
      text-decoration: none;

      &:hover,
      &:focus {
        background-color: $darker-color;
        border-color: $bg-color;
        color: $text-color;
      }

      &:focus {
        box-shadow: 0 0 0 0.2rem $lighter-color;
      }

      &[disabled]:hover,
      &[disabled]:focus {
        background-color: transparent;
        color: $bg-color;
        border-color: $bg-color;
      }

      //  Dark mode
      body.dark-mode & {
        background-color: color.adjust($bg-color, $lightness: -5%);
        color: $text-color;
        border-color: $bg-color;

        &:hover,
        &:focus {
          background-color: $darker-color;
        }
      }
    }
  }

  //  Bot贸n con borde (outline)
  .btn-border {
    padding: $padding;
    border-radius: $b-radius;
    border-width: 2px;
    background-color: transparent;
    font-family: $font-buttons, sans-serif;
    font-size: $font-size;
    font-weight: $font-weight;
    transition: all 0.2s ease-in-out;
    line-height: 2;
    width: $btn-width;

    @media (max-width: 640px) {
      display: block;
      margin: 1.25rem auto;
      width: 100%;
    }

    &.--#{$type} {
      border: 2px solid $bg-color;
      color: $bg-color;

      &:hover,
      &:focus {
        background-color: $darker-color;
        color: $text-color !important;
        border-color: $bg-color;
      }

      &:focus {
        box-shadow: 0 0 0 0.2rem $lighter-color;
      }

      &[disabled]:hover,
      &[disabled]:focus {
        color: $bg-color;
        background-color: transparent;
        border-color: $bg-color;
      }

      //  Dark mode
      body.dark-mode & {
        background-color: transparent;
        border-color: color.adjust($bg-color, $lightness: 10%);
        color: color.adjust($bg-color, $lightness: 10%);

        &:hover,
        &:focus {
          background-color: $darker-color;
          color: $text-color !important;
        }
      }
    }
  }
}

/*
* @Buttons wrapper           
**/
.wrapp-btn {
  display: inline-block;
  width: 100%;

  @media (max-width: 640px) {
    margin: 0.5rem 0;
    text-align: center; // Se centraliza por defecto en m贸viles
  }

  &.btn-left {
    text-align: left;
  }

  &.btn-right {
    text-align: right;
  }

  &.btn-center {
    text-align: center;
  }
}

/*
* @Buttons Sizes         
**/
@mixin size-btn($py, $px, $fsize, $lh, $radius: null) {
  padding: $py $px !important;
  font-size: $fsize !important;
  line-height: $lh !important;

  @if $radius {
    border-radius: $radius !important;
  }
}

$btn-sizes: (btn-xl: (0.5rem, 1.875rem, 1.3rem, 1.8, 22px),
  btn-lg: (0.5rem, 2.3rem, 1.25rem, 1.5, null),
  btn-md: (0.375rem, 1.7rem, 1rem, 1.5, null),
  btn-sm: (0.25rem, 0.6rem, 0.75rem, 1.5, null),
  btn-xxs: (0.25rem, 1.3rem, 0.7rem, 1.6, null));

.btn {

  &.btn-border,
  &.btn-full,
  &.btn-getstarted,
  &.btn-type,
  &.btn-table {

    @each $size,
    $values in $btn-sizes {
      &.#{$size} {
        @include size-btn(list.nth($values, 1),
          list.nth($values, 2),
          list.nth($values, 3),
          list.nth($values, 4),
          list.nth($values, 5));
      }
    }

    .icono {
      font-size: inherit !important; // Hereda el tama帽o del bot贸n
    }

    &.btn-sm .icono {
      font-size: .875rem !important;
    }

    &.btn-xxs .icono {
      font-size: .7rem !important;
    }
  }
}

.wrapp-links {
  display: inline-block;
  margin: 1rem 0 0 0;
  width: 100%;

  @media (max-width: 640px) {
    text-align: left;
    display: inline-block;
  }

  &.links-right {
    text-align: right;

    @media (max-width: 640px) {
      text-align: left;
      display: inline-block;
    }
  }

  &.links-center {
    text-align: center;

    @media (max-width: 640px) {
      text-align: left;
      display: inline-block;
    }
  }

  &.links-left {
    text-align: left;

    @media (max-width: 640px) {
      text-align: left;
      display: inline-block;
    }
  }
}