<!-- <div id="bg-green" class="container mt-5">
	<div class="row justify-content-center">
		<div class="col-md-6">
			<div class="card shadow">
				<div class="card-body">
					<h3 class="text-center mb-4">Iniciar sesión</h3>
					<form [formGroup]="loginForm" (ngSubmit)="onSubmit()">
						<div class="mb-3">
							<label for="username" class="form-label">Usuario</label>
							<input id="username" class="form-control" formControlName="username" />
						</div>

						<div class="mb-3">
							<label for="password" class="form-label">Contraseña</label>
							<input id="password" type="password" class="form-control" formControlName="password" />
						</div>

						<button class="btn btn-primary w-100" type="submit" [disabled]="loginForm.invalid">
							Ingresar
						</button>
					</form>
				</div>
			</div>
		</div>
	</div>
</div> -->
<main class="d-flex align-items-center py-4 bg-body-tertiary vh-100" style="border: 2px dashed red;background-color: bisque;">
	<div class="form-signin w-100 m-auto" style="border: 1px dashed red;">
		<form> 
			<img class="mb-4" src="https://getbootstrap.com/docs/5.3/assets/brand/bootstrap-logo.svg" alt="" width="72" height="57">
			<h1 class="h3 mb-3 fw-normal">Please sign in</h1>
			<p class="mb-9">Your Admin Dashboard</p>
			<div class="row">
				<div class="col-6 mb-2 mb-sm-0">
					<a class="btn btn-link border border-muted d-flex align-items-center justify-content-center rounded-2 py-8 text-decoration-none"
						href="javascript:void(0)" role="button">
						<img src="https://bootstrapdemos.wrappixel.com/materialM/dist/assets/images/svgs/google-icon.svg"
							alt="MaterialM-img" class="img-fluid me-2" width="18" height="18">
						Google
					</a>
				</div>
				<div class="col-6">
					<a class="btn btn-link border border-muted d-flex align-items-center justify-content-center rounded-2 py-8 text-decoration-none"
						href="javascript:void(0)" role="button">
						<img src="https://bootstrapdemos.wrappixel.com/materialM/dist/assets/images/svgs/facebook-icon.svg"
							alt="MaterialM-img" class="img-fluid me-2" width="18" height="18">
						Facebook
					</a>
				</div>
			</div>
			<div class="form-floating"> 
				<input type="email" class="form-control" id="floatingInput" placeholder="name@example.com">
				<label for="floatingInput">Email address</label>
				
			</div>
			
			<div class="form-floating">
				<input type="password" class="form-control" id="floatingPassword" placeholder="Password">
				<label for="floatingPassword">Password</label>
			</div>
			<div class="form-check text-start my-3">
				<div class="d-flex align-items-center justify-content-between mb-4">
					<div class="form-check">
						<input class="form-check-input primary" type="checkbox" value="" id="flexCheckChecked" checked="">
						<label class="form-check-label text-dark" for="flexCheckChecked">
							Remeber this Device
						</label>
					</div>
					<a class="text-primary fw-bold" href="./index.html">Forgot Password ?</a>
				</div>
			</div>
			<button class="btn btn-primary w-100 py-2" type="submit">Sign in</button>
			

			<div class="d-flex align-items-center justify-content-center">
				<p class="fs-4 mb-0 fw-bold">New to Modernize?</p>
				<a class="text-primary fw-bold ms-2" href="./authentication-register.html">Create an account</a>
			</div>
			<p class="mt-5 mb-3 text-body-secondary">© 2017–2025</p>
		</form>
	</div>
</main>




