<div class="d-flex flex-column min-vh-100 dashboard">
	<header class="px-3 text-bg-dark">
		<nav class="navbar navbar-expand-lg bg-dark" data-bs-theme="dark">
			<div class="container-fluid">
				<a class="navbar-brand" href="#">
					<img [src]="imagePath" class="" alt="" width="50">
				</a>
				<button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent"
					aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
					<span class="navbar-toggler-icon"></span>
				</button>
				<div class="collapse navbar-collapse" id="navbarSupportedContent">
					<ul class="navbar-nav ms-auto mb-2 mb-lg-0">
					<!-- 	<li class="nav-item">
							<a class="nav-link active" aria-current="page" href="#">Home</a>
						</li> -->
						<!-- <li class="nav-item">
							<a class="nav-link" href="#">Link</a>
						</li> -->
						<!-- <li class="nav-item dropdown">
							<a class="nav-link dropdown-toggle" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								Dropdown
							</a>
							<ul class="dropdown-menu">
								<li><a class="dropdown-item" href="#">Action</a></li>
								<li><a class="dropdown-item" href="#">Another action</a></li>
								<li>
									<hr class="dropdown-divider">
								</li>
								<li><a class="dropdown-item" href="#">Something else here</a></li>
							</ul>
						</li> -->
						<!-- <li class="nav-item">
							<a class="nav-link disabled" aria-disabled="true">Disabled</a>
						</li> -->
					</ul>
					 
					<!-- Center elements -->
					<ul class="navbar-nav flex-row d-none d-md-flex">
						<li class="nav-item me-3 me-lg-1 active">
							<a class="nav-link" href="#">
								<span><i class="bi bi-gear-fill"></i></span> 
							</a>
						</li>
						<!-- <li class="nav-item me-3 me-lg-1 dropdown">
							<a class="nav-link dropdown-toggle position-relative" href="#" role="button" data-bs-toggle="dropdown"
								aria-expanded="false">
								<i class="bi bi-bell-fill"></i>
								<span *ngIf="unreadNotificationsCount > 0" class="position-absolute translate-middle badge rounded-pill bg-danger" style="top: 6px; right: -1px;"> {{ unreadNotificationsCount }} </span>
							</a>
						
							<ul class="dropdown-menu dropdown-menu-end p-2 shadow" style="width: 300px;"> 
								<ng-container *ngIf="notifications as notis">
									<ng-container *ngIf="notis.length > 0; else noNotifications">
										<li *ngFor="let notif of notis.slice(0, 5)" class="mb-2">
											<button class="dropdown-item p-0 text-start text-wrap" [ngClass]="{ 'text-muted': notif.read }"
												(click)="marcarComoLeida(notif)">
												<div class="d-flex align-items-start gap-2"> 
													<i class="bi" [ngClass]="{
						                  'bi-exclamation-triangle-fill text-warning': notif.message.includes('asignó'),
						                  'bi-check-circle-fill text-success': notif.message.includes('Cerrado'),
						                  'bi-pencil-fill text-primary': notif.message.includes('actualizado')
						                }"></i> 
													<small class="text-wrap">{{ notif.message }}</small>
												</div>
											</button>
										</li>
										<li>
											<button class="btn btn-sm btn-outline-primary w-100 mt-2" (click)="marcarTodasComoLeidas()">
												✅ Marcar todas como leídas
											</button>
										</li>
									</ng-container>
								</ng-container> 
								<ng-template #noNotifications>
									<li class="text-muted text-center">🔕 Sin notificaciones</li>
								</ng-template>
							</ul>
						</li> -->



						<li class="nav-item me-3 me-lg-1 dropdown">
							<a class="nav-link dropdown-toggle position-relative" href="#" role="button" data-bs-toggle="dropdown"
								aria-expanded="false">
								<i class="bi bi-bell-fill"></i>
								<span *ngIf="unreadCount > 0" class="position-absolute translate-middle badge rounded-pill bg-danger"
									style="top: 6px; right: -1px;">
									{{ unreadCount }}
								</span>
							</a>
						
							<div class="dropdown-menu dropdown-menu-end p-0 shadow" style="width: 360px;">
								<div class="list-group list-group-flush">
						
									<!-- Lista de notificaciones -->
									<!-- <ng-container *ngIf="notifications && notifications.length > 0; else noNotifications"> -->
									<ng-container *ngIf="unreadNotifications.length > 0; else noNotifications"> 
										<a *ngFor="let notif of unreadNotifications" href="#" (click)="marcarComoLeida(notif)" class="list-group-item list-group-item-action d-flex justify-content-between align-items-center" [ngClass]="{ 'bg-dark bg-opacity-15': notif.read }" style="min-height: 65px;">
						
											<!-- Mensaje + ícono -->
											<div class="d-flex align-items-center">
												<i class="bi me-3" [ngClass]="{
						                 'bi-bell-fill text-warning': notif.type === 'asignado',
						                 'bi-exclamation-circle-fill text-danger': notif.type === 'urgente',
						                 'bi-pencil-fill text-primary': notif.type === 'editado',
						                 'bi-check-circle-fill text-success': notif.type === 'cerrado'
						               }">
												</i>
												<!-- <span class="text-wrap lh-sm">{{ notif.message }}</span> -->
												<span class="notification-message text-wrap lh-sm" [innerHTML]="notif.message">{{ notif.message }}</span>
											</div>
						
											<!-- Badge según tipo -->
											<span class="badge  ms-3" [ngClass]="{
						                  'badge-full-warning': notif.type === 'asignado',
						                  'badge-full-danger': notif.type === 'urgente',
						                  'badge-full-primary': notif.type === 'editado',
						                  'badge-full-success': notif.type === 'cerrado',
						                  'badge-full-secondary': notif.type === 'admin-alert'
						                }">
												{{
												notif.type === 'asignado' ? 'Asignado' :
												notif.type === 'urgente' ? 'Urgente' :
												notif.type === 'editado' ? 'Editado' :
												notif.message.includes('cerrado') ? 'Cerrado' : 'Alerta edición'
												}}
											</span>
						
										</a>
						
										<!-- Marcar todas -->
										<div class="text-center p-3 border-top">
											<button class="btn btn-full --success m-1 w-100" (click)="marcarTodasComoLeidas()">
												<i class="bi bi-check-circle-fill"></i> Marcar todas como leídas
											</button>
										</div>
									</ng-container>
						
									<!-- Sin notificaciones -->
									<ng-template #noNotifications>
										<div class="list-group-item text-center text-warning-emphasis p-3">
											<i class="bi bi-bell-slash"></i> Sin notificaciones
										</div>
									</ng-template>
						
								</div>
							</div>
						</li>



						<!-- <li class="nav-item me-3 me-lg-1 dropdown">
							<a class="nav-link dropdown-toggle border-2 position-relative" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false">
								<i class="bi bi-bell-fill"></i>
								<span *ngIf="notifications?.length"
									class="position-absolute top-0 start-100 translate-middle badge rounded-pill bg-danger">
									{{ notifications.length }}
								</span>
							</a>
							<ul class="dropdown-menu dropdown-menu-end p-2 shadow" style="width: 300px;">
								<li *ngFor="let notif of notifications.slice(0, 5)">
									<small class="d-block mb-1 text-wrap">{{ notif.message }}</small>
									<hr class="my-1" />
								</li>
								<li *ngIf="notifications.length === 0" class="text-muted text-center">Sin notificaciones</li>
								<li>
									<button class="btn btn-sm btn-link w-100 text-center mt-2" (click)="marcarTodasComoLeidas()">Marcar todas como
										leídas</button>
								</li>
							</ul>
						</li>   -->

						<!-- <li class="nav-item me-3 me-lg-1">
							<a class="nav-link" href="#">
								<span><i class="bi bi-bell-fill"></i></span>
								 <span *ngIf="pendingCount > 0" class="badge rounded-pill badge-notification bg-danger">{{ pendingCount }}</span> 
								 @if (pendingCount > 0) {
								<span class="badge bg-danger rounded-pill">
									{{ pendingCount }}
								</span>
							}  
							</a>
						</li> -->
					</ul>					
					<!-- Center elements -->
					<div class="dropdown text-end">
						<a href="#" class="text-decoration-none dropdown-toggle" data-bs-toggle="dropdown" aria-expanded="false">
							<img [src]="userData?.photoURL || imageDefault"  alt="mdo" width="32" height="32" class="border border-light-subtle border-2 object-fit-cover rounded-circle">
						</a>
						<ul class="dropdown-menu dropdown-menu-end text-small">
							<!-- <li>
								<a class="dropdown-item" href="#">New project...</a>
							</li> -->
							<!-- <li>
								<a class="dropdown-item" [routerLink]="['/dashboard/todo']" >To-Do</a>
							</li> -->
							<li>
								<a class="dropdown-item" [routerLink]="['/dashboard/profile', this.uid]">Mi perfil</a>
							</li>
							<li>
								<a class="dropdown-item" [routerLink]="['/dashboard/claims']">Mis Reclamos</a>
							</li>
							<!-- <li *ngIf="userRol === 'Ejecutivo' || userRol === 'Administrador'">
								<a class="dropdown-item" [routerLink]="['/dashboard/claims-executive']">Reclamos Executive</a>
							</li> -->
							<li *ngIf="userRol === 'Administrador'">
								<a class="dropdown-item" [routerLink]="['/dashboard/admin-users']">
									Admin Usuarios
								</a>
							</li>
							<li *ngIf="userRol === 'Ejecutivo'">
								<a [routerLink]="['/dashboard/notifications', this.uid]" class="dropdown-item">
									Mis notificaciones Ejecutivo
								</a>
							<li>
							<li *ngIf="userRol === 'Administrador'">
								<a class="dropdown-item" [routerLink]="['/dashboard/admin-notifications']">
									Mis Notificaciones Administrador
								</a>
							</li>
							<li> 
								<hr class="dropdown-divider">
							</li>
							<li>
								<a class="dropdown-item" (click)="onLogout()">Sign out</a>
							</li>
						</ul> 
					</div>
				</div>
			</div>
		</nav>
	</header>
	<main class="flex-grow-1 container py-4 ">
		 
			
		<!-- <div class="col-12 ">
					<app-todo-stats [todos]="todos"></app-todo-stats>
				</div> -->
		<!-- <div class="col-5 "> 
					<app-todo-chart [todos]="todos"></app-todo-chart>
				</div> -->

			 

			<section class="container ">
				<router-outlet></router-outlet> 
			</section>
		 <app-components></app-components> 
			 
	</main>
	<!-- Footer -->
	<footer class="py-4 bg-dark" data-bs-theme="dark">
		<div class="container">
			<div class="d-lg-flex justify-content-between py-3 py-lg-2">
				<div class="small mb-2 mb-lg-0">
					<p class="text-muted mb-0 me-5">© 2023 FreeFrontend.dev. All rights reserved.</p>
				</div>
				<div class="d-flex small align-items-end justify-content-between">
					<div>
						<a class="d-block d-lg-inline text-muted ms-lg-3 mb-2 mb-lg-0" href="">Privacy Policy</a> <a
							class="d-block d-lg-inline text-muted ms-lg-3 mb-2 mb-lg-0" href="">Terms</a> <a
							class="d-block d-lg-inline text-muted ms-lg-3 mb-2 mb-lg-0" href="">Cookies</a> <a
							class="d-block d-lg-inline text-muted ms-lg-3" href="">Sitemap</a>
					</div>
					<div class="d-none d-lg-block ms-3">
						<a class="me-2" href=""><svg class="bi bi-pinterest text-primary" fill="currentColor" height="16"
								viewbox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
								<path
									d="M8 0a8 8 0 0 0-2.915 15.452c-.07-.633-.134-1.606.027-2.297.146-.625.938-3.977.938-3.977s-.239-.479-.239-1.187c0-1.113.645-1.943 1.448-1.943.682 0 1.012.512 1.012 1.127 0 .686-.437 1.712-.663 2.663-.188.796.4 1.446 1.185 1.446 1.422 0 2.515-1.5 2.515-3.664 0-1.915-1.377-3.254-3.342-3.254-2.276 0-3.612 1.707-3.612 3.471 0 .688.265 1.425.595 1.826a.24.24 0 0 1 .056.23c-.061.252-.196.796-.222.907-.035.146-.116.177-.268.107-1-.465-1.624-1.926-1.624-3.1 0-2.523 1.834-4.84 5.286-4.84 2.775 0 4.932 1.977 4.932 4.62 0 2.757-1.739 4.976-4.151 4.976-.811 0-1.573-.421-1.834-.919l-.498 1.902c-.181.695-.669 1.566-.995 2.097A8 8 0 1 0 8 0z">
								</path>
							</svg></a> <a class="me-2" href=""><svg class="bi bi-twitter text-primary" fill="currentColor" height="16"
								viewbox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
								<path
									d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z">
								</path>
							</svg></a> <a class="me-2" href=""><svg class="bi bi-facebook text-primary" fill="currentColor" height="16"
								viewbox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
								<path
									d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z">
								</path>
							</svg></a>
					</div>
					<div class="d-lg-none">
						<a class="me-2" href=""><svg class="bi bi-pinterest text-primary" fill="currentColor" height="16"
								viewbox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
								<path
									d="M8 0a8 8 0 0 0-2.915 15.452c-.07-.633-.134-1.606.027-2.297.146-.625.938-3.977.938-3.977s-.239-.479-.239-1.187c0-1.113.645-1.943 1.448-1.943.682 0 1.012.512 1.012 1.127 0 .686-.437 1.712-.663 2.663-.188.796.4 1.446 1.185 1.446 1.422 0 2.515-1.5 2.515-3.664 0-1.915-1.377-3.254-3.342-3.254-2.276 0-3.612 1.707-3.612 3.471 0 .688.265 1.425.595 1.826a.24.24 0 0 1 .056.23c-.061.252-.196.796-.222.907-.035.146-.116.177-.268.107-1-.465-1.624-1.926-1.624-3.1 0-2.523 1.834-4.84 5.286-4.84 2.775 0 4.932 1.977 4.932 4.62 0 2.757-1.739 4.976-4.151 4.976-.811 0-1.573-.421-1.834-.919l-.498 1.902c-.181.695-.669 1.566-.995 2.097A8 8 0 1 0 8 0z">
								</path>
							</svg></a> <a class="me-2" href=""><svg class="bi bi-twitter text-primary" fill="currentColor" height="16"
								viewbox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
								<path
									d="M5.026 15c6.038 0 9.341-5.003 9.341-9.334 0-.14 0-.282-.006-.422A6.685 6.685 0 0 0 16 3.542a6.658 6.658 0 0 1-1.889.518 3.301 3.301 0 0 0 1.447-1.817 6.533 6.533 0 0 1-2.087.793A3.286 3.286 0 0 0 7.875 6.03a9.325 9.325 0 0 1-6.767-3.429 3.289 3.289 0 0 0 1.018 4.382A3.323 3.323 0 0 1 .64 6.575v.045a3.288 3.288 0 0 0 2.632 3.218 3.203 3.203 0 0 1-.865.115 3.23 3.23 0 0 1-.614-.057 3.283 3.283 0 0 0 3.067 2.277A6.588 6.588 0 0 1 .78 13.58a6.32 6.32 0 0 1-.78-.045A9.344 9.344 0 0 0 5.026 15z">
								</path>
							</svg></a> <a class="me-2" href=""><svg class="bi bi-facebook text-primary" fill="currentColor" height="16"
								viewbox="0 0 16 16" width="16" xmlns="http://www.w3.org/2000/svg">
								<path
									d="M16 8.049c0-4.446-3.582-8.05-8-8.05C3.58 0-.002 3.603-.002 8.05c0 4.017 2.926 7.347 6.75 7.951v-5.625h-2.03V8.05H6.75V6.275c0-2.017 1.195-3.131 3.022-3.131.876 0 1.791.157 1.791.157v1.98h-1.009c-.993 0-1.303.621-1.303 1.258v1.51h2.218l-.354 2.326H9.25V16c3.824-.604 6.75-3.934 6.75-7.951z">
								</path>
							</svg></a>
					</div>
				</div>
			</div>
		</div>
	</footer>

</div>



